{% extends 'base.html.twig' %}

{% block main %}

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-edit"></i>

                        <h3 class="box-title">Zerrendak</h3>
                    </div>
                    <div class="box-body pad">

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                &nbsp;
                                <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="{{ path('zerrenda_bizikletak') }}" class="btn btn-block btn-primary btn-lg haundiya">Bizikleten egoera</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                &nbsp;
                                <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="{{ path('zerrenda_matxurak') }}" class="btn btn-block btn-primary btn-lg haundiya">Bizikleten matxurak</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                &nbsp;
                                <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                &nbsp;
                                <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="{{ path('maileguak_bilatu') }}" class="btn btn-block btn-success btn-lg haundiya">Itzulketa</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- ./row -->


    </section>

{% endblock %}

