{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block navigation_items %}
    {{ parent() }}
    <li {{ app.request.attributes.get('_route') == 'maileguak_index' ? 'class="active"' : '' }}>
        <a href="{{ path('maileguak_index') }}">Maileguak</a>
    </li>
{% endblock %}