{% extends 'base.html.twig' %}

{% block head_javascript %}
    {{ parent() }}

    <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyBXzdT5v5Gjw1XkgNqUU5jKJJ00oYC4dmo"></script>
    <script src="{{ asset('bundles/app/js/maplace.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript">
        $(function() {

            var url = '{{ path('gunedatuak', {"callback": "fos.Router.setData"}) }}';

            $.getJSON(url)
            .done(function( data ) {
                new Maplace({
                    locations: data,
                    map_div: '#gmap',
                    controls_type: 'list',
                    controls_on_map: true
                }).Load();
            });


        });
    </script>
{%  endblock %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Bizikleta mailegu zerbitzua</h1>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div id="controls"></div>
                <div id="gmap" style="height:500px;"></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>

            </div>
        </div>
    </div>

{% endblock %}


